/* font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color:black;
}

section {
    width: 1440px;
    
    line-height: 1.6;
    margin: 0 auto;
    overflow: hidden;
}

*,
::after,
::before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    
}

/* ------header--- */
.header{
    width: 100%;
    height: 43px;
    left: 165px;
    right: 165px;
    
    padding-top: 61px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #10375C;
    line-height: 1.3;
    margin-right: 184px;
}

/* --nav-- */

.nav {
    display: flex;
    font-size: 16px;
    margin-right: 81px;

    
}

.nav__link {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    font-family: inherit;
    font-weight: 700;
    
    color:#222831;
    text-decoration: none;

    margin: 0 20px;
    
    position: relative;

    flex-wrap: nowrap;
}

.nav__link:first-child {
    margin: 0 20px 0 0;
}
.nav__link:last-child {
    margin: 0 0 0 20px;
    min-width: 80px;
    
}

.nav__link--red {
    color: #FF5722;

}

/* ---btn-- */

.header__btn {
    display: flex;
    align-items: center;
}
.btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;

    color:#FF5722;
    text-decoration: none;

    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 12px 24px;
    border: 0;
    cursor: pointer;

    background: #ffffff;
    width: 92px;
}

.btn--red {
    width: 103px;
    background:#FF5722;
    box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
    color: #ffffff;
}

.btn__space {
   width: 72px;
   height: 72px;
   background-color:  #FF5722;
   padding: 20px;

   position: absolute;
   bottom: 57px;
   left: 0;
   z-index: 1000;

   border: none;

}

.btn__space--long {
    width: 255px;
    height: 72px;

    bottom: 0;
    left: 30px;

    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

/* --intro-- */

.span {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    color: #222831;

    position:absolute;
    top: 160px;
    
    position: relative;

    

}

.span::after {
    content: "";
    width: 73px;
    height: 2px;
    background-color:#222831;
    display: block;
    
    position: absolute;
    top: 15px;
    left: 116px;
}

.intro__inner {
    display: flex;
    justify-content:left;
    align-items: top;
    
    position: relative;
    top: 198px;
    margin-top: -23px;
}

.intro__title {
    font-size: 52px;
    font-weight: 700;
    font-family: 'Lora', serif;
    line-height: 1.28;
    color:#10375C;
    width: 667px;

}

.intro__title span {
    color:#DD2C00;
}

.intro__subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #6A6A6A;
    font-weight: 500;
    margin-left: 61px;

    width: 382px;
}

/* --img */
.img {
    position: relative;
    margin-top: 234px;
    width: 100%;
    max-width: 1110px;
}

.img::after {
    content: "";
    width: 40px;
    height: 4px;
    background-color:#FF5722;
    display: block;
    
    position: absolute;
    bottom: 49px;
    left: 505px;
}

.mini__block {
    position: relative;

    
    display: flex;
    justify-content: space-between;
    width: 56px;

    left: 549px;
    bottom: 49px;
}

.block {
    width: 16px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;

}

/* --section 2 */

.spaces__header {
    display: flex;
    text-align: left;
    margin-top: 112px;
    vertical-align: bottom;
    
}

.spaces__title {
    font-weight: 700;
    font-size: 40px;
    font-family: 'Lora', sans-serif;
    color: #10375C;
    margin-right: 164px;
}

.spaces__suptitle {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #9A9A9A;

    width: 452px;

    margin-right: 109px;
}

.spaces__arrows {
    display: flex;
    align-items: end;
}

.spaces__arrows img:first-child {
    margin-right: 21px;
}

.spaces__arrows img {
    vertical-align: bottom;
}


/* ---page */
.page {
    display: flex;
    margin-top: 51px;
}

.page__img {
    width: 100%;
    max-width: 350px;
    height: 420px;

}

.page__img img {
    height: 100%;
}

.page__img::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    position: absolute;
    bottom: 78px;
    right: 308px;
    z-index: 1000;
    transform: translateY(-50%) rotate(49deg);
    border-radius: 2px;
}

.page__text {
    margin-top: 25px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #222831;
}

.page__font {
    background-color: #10375C;
    width: 100%;
    max-width: 350px;
    height: 474px;
    margin-left: 30px;
    margin-right: 30px;

}

.page__item {
    position: relative;
}

.page__font img {
    margin: 16px 16px 361px 244px;
} 

.inner__text {
    position: absolute;

    top: 144px;
    left: 75px;
    bottom: 291px;
    z-index: 1000;

    text-align: center;
    
    width: 253px;
    height: 139px;

}
.inner__text--title {
    font-family: 'Lora', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.3;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.inner__text--suptitle {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    color: #FFFFFF;
    
}

/* slider */

.slider {
    width: 160px;
    height: 4px;
    color:#DFDFDF;

    margin-top: 53px;
    margin: 53px auto 112px;
}
.slider__item {
    width: 160px;
    color: #222831;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;

    position: relative;

    padding-top: 10px;
    border-top: 4px solid #DFDFDF;
    text-align: center;

}

.slider__text {
    font-size: 16px;
    font-weight: 400;
    color: #9A9A9A;
}

.slider__number {
    font-size: 16px;
    font-weight: 400;
    color: #222831;
}

.slider__item::before {
    content: "";
    width: 40px;
    height: 4px;
    display: block;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: #DD2C00;
}


/* section3 Frispes */

.frispes {
    display: flex;
    width: 100%;
    max-width: 1102px;
    height: 421px;
    margin-bottom: 112px;
}

.frispes__item {
    width: 100%;
    max-width: 540px;
    height: 100%;
    background-color: ffffff;
    margin-right: 71px;
    
    display: flex;
    flex-wrap: wrap;

}

.frispes__item--inner {
    width: 215.5px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 60px;

}

.frispes__item--inner:nth-child(even) {
    margin-right: 0;
}



.frispes__text {
    margin-top: 36px;
}


.frispes__block {
    width:100%;
    max-width: 540px;
    height: 100%;

    background-color: #10375C;

    text-align: left;
    padding: 54px 53px;

    position: relative;
}

.frispes__block::after {
    content: "";
    width: 73px;
    height: 2px;
    background-color:#ffffff;
    display: block;
    
    position: absolute;
    top: 68px;
    left: 177px;
}

.frispes__suptitle {
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}

.fraspes__title {
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Lora', serif;
    font-size: 40px;
    line-height: 1.3;

    margin-top: 8px;
    margin-bottom: 24px;
}

.frispes__block span {
    font-family:'Lato',sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;

    
}


.frispes__icon {
    margin-right: 24px;
    margin-top: 40px;
    margin-left: 8px;
    
}

.span__number {
    color:#10375C;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Lora', sans-serif;
}

.span__text {
    color: #9A9A9A;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    
}

/* section 4 Facilities */
.facilities {
    text-align: left;
    position: relative;
}

.facilities__suptitle {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color:#222831;
}

.facilities__title {
   color:#10375C;
   font-weight: 700;
   font-size: 40px;
   line-height: 1.3;
   font-family: 'Lora', sans-serif;
   width: 100%;
   max-width: 570px;
   height: 102px;

   margin-top: 8px;
}

.facilities::after {
    content: "";
    width: 73px;
    height: 2px;
    background-color:#222831;
    display: block;
    
    position: absolute;
    top: 16px;
    left: 130px;
}

.facilities__select {
    display: flex;
    margin-top: 51px;
    margin-bottom: 112px;
}

.facilities__img {
    width: 100%;
    max-width: 729px;
    height: 100%;
    max-height: 453px;
}

.facilities__menu {
    width: 100%;
    max-width: 293px;
    height: 360px;
    margin-right: 88px;
}

.line {
    padding: 24px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #222831;
}

.line__activ {
    color: #FFFFFF;
    background-color: #FF5722;
}

/* section 5 Gallery */

.gallery__item {
    display: flex;
    align-items: flex-end;
}

.gallery__img {
    margin: 0 15px 0 15px;
}

.gallery {
    position: relative;
    margin-bottom: 112px;
}

.gallery__suptitle {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    color:#222831;

}

.gallery__title {
    color:#10375C;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Lora', sans-serif;
    line-height: 1.3;

    margin-top: 8px;
    margin-bottom: 38px;
}

.gallery__block {
    width: 100%;
    max-width: 496px;
    height: 204px;

    position: absolute;
    top: 0;
    right: 154px;
}

.gallery__arrows img {
    margin-right: 23px;
}

.gallery__img img:last-child {
    margin-right: 0;
}

.gallery__text::after {
    content: "";
    width: 73px;
    height: 2px;
    background-color:#222831;
    display: block;
    
    position: absolute;
    top: 14px;
    left: 141px;
}


/* section 6 Brands */

.brand__text {
    width: 100%;
    max-width: 633px;
    height: 105px;
    text-align: center;
    margin: 0 auto;

    margin-bottom: 56px;
}

.brand__title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Lora', sans-serif;
    color: #0D2C4A;

    margin-bottom: 24px;
}

.brand__suptitle {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    color: #9A9A9A;

    margin-bottom: 56px;
}

.brands__frispes {
    width: 100%;
    max-width: 1176px;
    height: 100%;
    max-height: 226px;

    margin: 0 auto;

    margin-bottom: 112px;
}

.brand__icons img {
    display: inline-block;
    margin-right: 60px;
    text-align: left;
}

.brand__icons img:last-child {
    margin-right: 0;
}

.brand__icons {
    height: 66px;
}

/* section 7 Reviews */

.reviews__block {
    display: flex;
    align-items: flex-end;
    margin-bottom: 56px;
    position: relative;
}

.reviews__suptitle {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #222831;
}

.reviews__title {
    color: #10375C;
    font-family: 'Lora', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;

    margin-top: 8px;
}

.reviews__text {
    width: 399px;
    height: 140px;
    margin-right: 541px;
}

.reviews__arrows img {
    margin-right: 22px;
}

.reviews__arrows img:last-child {
    margin-right: 0;
}

.reviews__block::after {
    content: "";
    width: 73px;
    height: 2px;
    background-color:#222831;
    display: block;
    
    position: absolute;
    top: 14px;
    left: 88px;
}

.reviews__item {
    display: flex;

}

.reviews__item--block {
    width: 100%;
    max-width: 445px;
    height: 393px;
    
    background-color:#10375C;

    margin-right: 30px;
}

.reviews__item--block:last-child {
    margin-right: 0;
}


.reviews__item--text {
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Lato', sans-serif;
    color:#FFFFFF;
    line-height: 1.6;

}

.reviews__inner {
   
    width: 100%;
    height: 156px;
    padding: 47px 40px 197px 40px;
}

.reviews__author {
    display: flex;
    margin: 40px 297px 178px 35px;
    width: 100%;
    max-width: 227px;
    height: 61px;
}

.data__name {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
    
.data__works {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.reviews__photo {
    margin-right: 16px;
}

.reviews__slider {
    margin: 32px 477px 0;
}

.slider__item--span {
    opacity: 0;
}

/* section 8 Answers */

.answers__text {
    
    margin: 43px 270px 51px 270px;

    width: 100%;
    max-width: 578px;
    height: 102px;

    
    color: #10375C;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Lora', sans-serif;
    text-align: center;
    line-height: 1.3;
}

.answers__block {
    display: flex;
    width: 100%;
    max-width: 1120px;
    height: 206px;

    margin-bottom: 35px;

    
}

.answers__item {
    margin-right: 30px;
    width: 350px;

    position: relative;
   
    height: 171px;
    background-color: rgb(255, 255, 255);
    padding: 42px 40px 63px 40px;
    
    box-shadow: 0 0 17px rgba(0,0,0,12%);
}

.answers__item:last-child {
    margin-right: 0px;
}

.answers {
    width: 270px;
    height: 66px;
    color: #000000;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    font-family: 'Lora', sans-serif;
}

.answers__item--red {
    background-color: #FF5722;
}
.answers--red {
    color: #FFFFFF;
}

.btn__answers {
    width: 64px;
    height: 48px;
    background-color:  #FF5722;
    padding: 9px 16px 7px 16px;
 
    position: absolute;
    bottom: -24px;
    left: 141px;
    z-index: 1000;
 
    border: none;
 }

.btn__answers--white {
    background-color: #FFFFFF;
    box-shadow: 0 0 40px rgba(280, 0, 0, 0.30);;
}

.btn__answers--white img {
    padding: 14px 7px;
   

    
}

.answers__item::after
 {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border-top: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    position: absolute;
    bottom: -9px;
    right: 170px;
    z-index: 1000;
    transform: translateY(-50%) rotate(135deg);
    border-radius: 2px;
}

.questions {
    
    margin-bottom: 40px;
    width: 100%;
    max-width: 150px;
    height: 32px;
    margin: 0 auto;
    align-items:center;
} 

.questions__text {
    display: inline-block;
    color: #FF5722;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;

    margin-right: 19px;

}
.questions img {
    margin-bottom: -3px;
}


/* section8 News */
.section__grey {
    margin-top: 36px;
    background-color: #F8F8F8;
    width: 1440px;
    height: 933px;

}

.section__news {
    display: flex;
    width: 100%;
    max-width: 1110px;
    height: 51px;
    margin-top: 60px;
    align-items: center;
}

.news__text {
    color:#10375C;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Lora', sans-serif;
}

.section__news--text {
    margin-right: 363px;
}

.news__more {
    color: #FF5722;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-right: 19px;
}
.section__news--more {
    margin-top: 19px;
   

}

.section__news--more img {
    margin-bottom: -3px;
   
}

.section__news--block {
    margin-top: 56px;
}

/* google */

.block__google {
    width: 100%;
    max-width: 1110px;
    height: 320px;
    display: flex;
}

.google__photo {
    width: 350px;
    height: 100%;
}

.google__block {
    padding: 32px;
    background-color: #fff;
   
    height: 100%;
    width: 380px;
}

.google__title {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Lora', sans-serif;
    color: #222831;
    line-height: 1.3;
    margin-bottom: 24px;

}

.google__suptitle {
    font-family:'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #9A9A9A;
    line-height: 1.6;
   
}

.google__author {
    display: flex;
    margin-top: 16px;
}

.google__name {
    color: #10375C;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

.google__works {
    color: #9A9A9A;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.google__text {
    margin-left: 24px;
}

/* img block */

.img__block {
    width: 100%;
    max-width: 350px;
    height: 320px;
    margin-left: 30px;
}

.img__block--left {
    margin-left: 0;
}

.img__block--shadow {
    box-shadow: 0 0 30px rgba(0,0,0,0.26);
}

.img__photo {
    width: 100%;
    height: 204px;

}

.img__text {
    padding: 14px 16px 16px 16px;
    text-align: left;
    background-color: #fff;
}

.img__text--title {
    color: #222831;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Lora', sans-serif;
    line-height: 1.3;
    margin-bottom: 4px;
}

.img__text--suptitle {
    color: #9A9A9A;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}

.block__flex {
    display: flex;
    margin-top: 30px;
    margin-bottom: 96px;
}


/* section 9 */

.section__basement {
    width: 1440px;
    height: 408px;
    background-color: #0D2C4A;
    margin-bottom: 56px;
}

.basement__block {
    display: flex;
    
}

.left__block {
    width: 100%;
    max-width: 255px;
    height: 235px;
    
    margin-right: 125px;
}

.right__block {
    width: 100%;
    max-width: 730px;
    max-height: 220px;
    margin-top: 25px;

    display: flex;
}


.section__basement--block {
    margin-top: 56px;
}

/* left-block*/

.left__block--icons {
    display: flex;
    margin-top: 24px;
}

.icons {
    margin-right: 16px;
    width: 24px;
    height: 24px;

}

.icons:last-child {
    margin-right: 0;
}

.left__block--title {
    color: #FFFFFF;
    font-size: 52px;
    font-weight: 700;
    font-family: 'Lora', sans-serif;
}

.left__block--suptitle {
    color:#F8F8F8;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}

/* right-block */

.column__name {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    opacity: 0.5;
}

.column__line {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-bottom: 9px;
}

.column__line--red {
    color:#FF5722;
}

.column__line:last-child {
    margin-bottom: 0;
}

.line__block {
    margin-top: 24px;
}

.column {
    margin-right: 68px;
    text-align:left;
    max-width: 212px;
    
}

.column:last-child {
    margin-right: 0;
}






